@model IEnumerable<WebQuanLyBanHangDtos.ContactDto>
@{
    ViewBag.Title = "DanhSach";
    Layout = null;
}
<table id="tablerepoin" class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>Stt</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Stt</td>
                <td class="text-center">
                    <a title="Sửa thông tin" onclick="Edit(@item.ID)" class="btn btn-sm btn-primary" href="#"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>


