@model IQueryable<WebQuanLyBanHangDtos.ProductCategoryDto>
    <ul>
        <h3>Danh mục</h3>
        @foreach (var item in Model)
        {
            var Url = @item.MetaTitle + "_dm_" + @item.ID;
            <li><a href="@Url">@item.Name</a></li>
        }
    </ul>

