<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="OnlineShopEntities" connectionString="metadata=res://*/OnlinshopDbContext.csdl|res://*/OnlinshopDbContext.ssdl|res://*/OnlinshopDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QQANOB1;initial catalog=OnlineShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
