@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Đơn hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @*<div class="card-title">*@
                        <div class="row">
                            <div class="col-8">
                                <strong>Danh sách đơn hàng</strong>
                            </div>
                            <div class="col-4" style="text-align:right" ;>
                               
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="tablerespon">

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


@section scripts {
    <script type="text/javascript">
        $(function () {
            LoadTable();
        });
        function LoadTable() {
            $.ajax({
                url: '@Url.Action("Index", "Order")',
                type: 'GET',
            }).done(function (data) {
                $('#tablerespon').html(data);
                $("#tablerepoin").DataTable({
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#tablerepoin_wrapper .col-md-6:eq(0)');

            });
        };
        function Edit(id) {
                $.ajax({
                    url: '@Url.Action("GetObjById", "Order")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ id: id }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        console.log(data.Data);
                        if (data.Status == 200) {
                            $('#btnSave').html('Cập nhật');
                            $('#textthemmoi').html('Chỉnh sửa');
                            $('#textthemmoinho').html('Chỉnh sửa');
                            $('#mediumModalLabel').html('Chỉnh sửa')
                            //hiện modal
                            $("#Modalmenu").modal({ backdrop: "static" })

                            set(data.Data);
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
        };
        function Delete(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })
            swalWithBootstrapButtons.fire({
                title: 'Bạn có chắc không?',
                text: "Bạn sẽ không thể khôi phục được dữ liệu!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Có, xóa nó!',
                cancelButtonText: 'Không, hủy bỏ!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                     $.ajax({
                            url: "@Url.Action("Delete", "Order")",
                            type: "GET",
                            data: {id:id},
                            cache: false,
                         success: function (data) {
                             LoadTable();
                                swalWithBootstrapButtons.fire(
                                    'Đã xóa!',
                                    'Tệp của bạn đã bị xóa.',
                                    'success'
                                )
                            },
                            error: function (xhr) {
                                Swal.fire(xhr);
                            }
                     });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Đã hủy',
                        'Tệp của bạn an toàn!',
                        'error'
                    )
                }
            })
        };
        function ChangCheck(id) {
            $.ajax({
                 url: "@Url.Action("ChangCheck", "Order")",
                 type: "POST",
                 data: {id:id},
                 cache: false,
                 success: function (data) {
                     toastr.success(data.Mes);
                     LoadTable();
                 },
                 error: function (xhr) {
                     Swal.fire(xhr);
                 }});
        }
    </script>
}




